html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

:root {
    --bs-body-bg: #ADD8E6; 
    --bs-body-color: #333;
}

header {
    background-color: #ADD8E6;
}

footer {
    color: var(--bs-body-color);
}

table {
    color: var(--bs-body-color) !important;
    background-color: #ADD8E6;
}

input:not([type=submit]), select {
    background-color: #ADD8E6 !important;
    color: var(--bs-body-color) !important;
}
